# 支持LOG_ERROR, LOG_INFO, LOG_DEBUG三档log等级
CONFIG_LOG_LEVEL=LOG_LEVEL_DEBUG
# 之前交叉编译工具链prefix
CONFIG_CROSS_COMPILE=arm-linux-gnueabihf
# 配置文件输出路径，目前把配置文件放到虚拟机的tftp目录下，板端可以通过tftp把程序导进去
CONFIG_CONFIG_OUTPUT_PATH=/home/alientek/linux/tftp
# 最终生成的可执行文件安装路径，目前把可执行文件放到虚拟机的tftp目录下，板端可以通过tftp把程序导进去
CONFIG_PROGRAM_INSTALL_PATH=/home/alientek/linux/tftp
# 指定当前使用的sensor型号，与video.json中的型号对应
CONFIG_SENSOR_NAME=ov5640
# 编码文件的帧数
CONFIG_H264_FRAME_NUM=100
